# ignoring target
__pycache__/
test_cord.py
.coverage
coverage.xml
*.csv
*.json
*.zip
htmlcov/*
log/*.log
tmp/images/*.png
tmp/*.txt
tmp/zips/app/*
tmp/zips/layer_module/python/*

# force include
!tmp/zips/app/.keep
!tmp/zips/layer_module/python/.keep
