###### Requirements without Version Specifiers ######
# General
numpy
matplotlib
pymongo
requests
# scipy # trendline生成時には必要

# For sending mail
sendgrid

# OandaAPIとの通信や、投資データ処理に必要
mpl_finance
oandapyV20

###### Requirements with Version Specifiers ######
# ERROR: botocore 1.12.50 has requirement urllib3<1.25,>=1.20; python_version >= "3.4", but you'll have urllib3 1.25.3 which is incompatible.
# https://github.com/aws/aws-cli/issues/3149
urllib3==1.24.2
pandas>=0.24.2
