###### Requirements without Version Specifiers ######
# General
boto3
numpy
matplotlib
pymongo
requests
# scipy # trendline生成時には必要

# For sending mail
sendgrid

# OandaAPIとの通信や、投資データ処理に必要
mplfinance
oandapyV20

###### Requirements with Version Specifiers ######
# ERROR: botocore 1.19.40 requires urllib3<1.27,>=1.25.4; python_version != "3.4", but you'll have urllib3 1.24.2 which is incompatible.
urllib3==1.25.11
pandas>=0.24.2

###### [For only development environment]
moto
